.pagination .page-item.active .page-link {
    background-color: #ff0000;
    border-color: #ff0000;
    color: #ffffff;
}

.pagination .page-link {
    color: #ff0000;
}

.pagination .page-link:hover {
    background-color: #ff0000;
    border-color: #ff0000;
    color: #ffffff;
}.maincolor{
    background-color: #ff0000;
}

.ucl {
    font-weight: bold;
    background-color: #39ff08 !important;
}

.konf {
    font-weight: bold;
    background-color: #3d72d4 !important;
}

.parsp {
    font-weight: bold;
    background-color: #d8b722 !important;
}

.releg {
    font-weight: bold;
    background-color: #f50b0b !important;
}

.bold {
    font-weight: bold;
}

.kubs {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.matchhr {
    width: 100%;
    border-top: 2px solid #000000;
}

.minihr {
    width: 30%;
    border-top: 2px solid #a7a6a6;
}

.img40 {
    height: 40px;
}

.img80 {
    height: 80px;
}

.img20 {
    height: 20px;
}.img30 {
    height: 30px;
}

.img100 {
    height: 100px;
}
.img150 {
    height: 150px;
}

.img300 {
    height: 300px;
}

#minute {
    width: 10%
}

.playertable th {
    background-color: inherit;
    color: inherit;
    border: none;
}

.playertable td {
    background-color: inherit;
    color: inherit;
    border: none;
    font-weight: bold;
    font-size: 20pt;

}.btn{
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}.btn:hover{
    background-color: #ffffff;
    color: #000000 !important;
    transform: scale(1.05);
}.exp{
    transition: transform 0.2s;
}.exp:hover{
    transform: scale(1.1);
}.flag {
    height: 20px;
    border: 2px solid #000000;
    transition: transform 0.2s;
}.flag:hover{
    transform: scale(1.1);
}.textbtn{
    transition: color 0.1s, transform 0.3s;
}.textbtn:hover{
    color: #000000 !important;
    transform: scale(1.05);
}.hhhover{
    color: #000000;
    transition: background-color 0.2s, color 0.2s;
}.hhhover:hover{
    background-color: #ff0000;
    border-color: #ff0000;
    color: #ffffff;
}.zvaigzne{
    transition: transform 0.2s;
}.zvaigzne:hover{
    transform: scale(1.05);
}